:root {
    --light-blue: #76b5c5;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: var(--light-blue);
    color: white;
    font-weight: lighter;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 1%;
}

header > span {
    flex-shrink: 0;
    font-size: clamp(1.5rem, 3vw, 3rem);
    font-weight: lighter;
}

header > div {
    display: flex;
    gap: 5px;
    margin-left: 75px;
}

header > div > input {
    flex: 1;
    width: 100%;
    font-size: 1.1rem;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

header > div > button {
    border: none;
    border-radius: 5px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    min-width: 350px;
    margin: auto;
    padding: 0 10px;
    gap: 75px;
}

#weather-data {
    margin-top: 5vw;
    border-radius: 10px;
    padding: 10px;
    display: none;
    /*box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.689); /* https://www.joshwcomeau.com/css/designing-shadows/ */
}

#weather-header {
    display: flex;
    justify-content: space-between;
}

#weather-name {
    font-size: 1.2rem;
    font-weight: 300;
}

#weather-description {
    text-transform: capitalize;
}

#weather-temperature {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

#current-temperature {
    font-size: 7rem;
    font-weight: 300;
}

#weather-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon {
    height: 35px !important;
    width: 35px !important;
}

.icon-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.not-visible {
    display: none;
}

#location-image {
    width: 100%;
    object-fit: contain;
    border-radius: 10px;
}