:root {
    --light-blue: #76b5c5;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: var(--light-blue);
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 1%;
}

header > span {
    flex-shrink: 0;
    font-size: clamp(1.5rem, 3vw, 3rem);
}

header > div {
    display: flex;
    gap: 5px;
    margin-left: 75px;
}

header > div > input {
    flex: 1;
    width: 100%;
    font-size: 1.1rem;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

header > div > button {
    border: none;
    border-radius: 5px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 600px;
    min-width: 350px;
    margin: auto;
    padding: 0 10px;
    gap: 75px;
}

#weather-header {
    display: flex;
    justify-content: space-between;
}

#weather-temperature {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#weather-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icon-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.not-visible {
    display: none;
}

#location-image {
    width: 100%;
    object-fit: contain;
}